{% extends 'layouts/layout-dashboard-user.html' %}

{% block header %}
{% block title %}Inicio - Usuario{% endblock %}
{% endblock %}

{% block content %}
<div>
    <div class="flex justify-between flex-wrap items-center mb-6">
        <h4
            class="font-medium lg:text-2xl text-xl capitalize text-slate-900 inline-block ltr:pr-4 rtl:pl-4 mb-1 sm:mb-0">Inicio</h4>
        <div
            class="flex sm:space-x-4 space-x-2 sm:justify-end items-center rtl:space-x-reverse">
            <button
                class="btn inline-flex justify-center bg-white text-slate-700 dark:bg-slate-700 !font-normal dark:text-white ">
                <span class="flex items-center">
                    <iconify-icon class="text-xl ltr:mr-2 rtl:ml-2 font-light"
                        icon="heroicons-outline:calendar"></iconify-icon>
                    <span>Calendario</span>
                </span>
            </button>
            <button
                class="btn inline-flex justify-center bg-white text-slate-700 dark:bg-slate-700 !font-normal dark:text-white ">
                <span class="flex items-center">
                    <iconify-icon class="text-xl ltr:mr-2 rtl:ml-2 font-light"
                        icon="heroicons-outline:document-magnifying-glass"></iconify-icon>
                    <span>Acerca de nosotros</span>
                </span>
            </button>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-5 mb-5">
        <div class="2xl:col-span-3 lg:col-span-4 col-span-12">
            <div
                class="bg-no-repeat bg-cover bg-center p-5 rounded-[6px] relative"
                style="background-image: url(static/assets/images/all-img/widget-bg-2.png)">
                <div class="max-w-[180px]">
                    <h4 class="text-xl font-medium text-white mb-2">
                        <span class="block font-normal">Buenas noches,</span>
                        <span class="block">Angel Díaz</span>
                    </h4>
                    <p class="text-sm text-white font-normal">
                        Bienvenido a Samsung Safe Zone
                    </p>
                </div>
            </div>
        </div>
        <div class="2xl:col-span-9 lg:col-span-8 col-span-12">
            <div class="grid md:grid-cols-3 grid-cols-1 gap-4">

                <!-- BEGIN: Group Chart -->

                <div class="card">
                    <div class="card-body pt-4 pb-3 px-4">
                        <div class="flex space-x-3 rtl:space-x-reverse">
                            <div class="flex-none">
                                <div
                                    class="h-12 w-12 rounded-full flex flex-col items-center justify-center text-2xl bg-[#E5F9FF] dark:bg-slate-900	 text-info-500">
                                    <iconify-icon
                                        icon=heroicons:users></iconify-icon>
                                </div>
                            </div>
                            <div class="flex-1">
                                <div
                                    class="text-slate-600 dark:text-slate-300 text-sm mb-1 font-medium">
                                    Miembros activos
                                </div>
                                <div
                                    class="text-slate-900 dark:text-white text-lg font-medium">
                                    3
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body pt-4 pb-3 px-4">
                        <div class="flex space-x-3 rtl:space-x-reverse">
                            <div class="flex-none">
                                <div
                                    class="h-12 w-12 rounded-full flex flex-col items-center justify-center text-2xl bg-[#FFEDE6] dark:bg-slate-900	 text-warning-500">
                                    <iconify-icon
                                        icon=heroicons:credit-card></iconify-icon>
                                </div>
                            </div>
                            <div class="flex-1">
                                <div
                                    class="text-slate-600 dark:text-slate-300 text-sm mb-1 font-medium">
                                    Tipo de membresía
                                </div>
                                <div
                                    class="text-slate-900 dark:text-white text-lg font-medium">
                                    Básico
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body pt-4 pb-3 px-4">
                        <div class="flex space-x-3 rtl:space-x-reverse">
                            <div class="flex-none">
                                <div
                                    class="h-12 w-12 rounded-full flex flex-col items-center justify-center text-2xl bg-[#EAE6FF] dark:bg-slate-900	 text-[#5743BE]">
                                    <iconify-icon
                                        icon=heroicons:globe-alt></iconify-icon>
                                </div>
                            </div>
                            <div class="flex-1">
                                <div
                                    class="text-slate-600 dark:text-slate-300 text-sm mb-1 font-medium">
                                    Dirección
                                </div>
                                <div
                                    class="text-slate-900 dark:text-white text-lg font-medium">
                                    Zapopan, Jal., México
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- END: Group Chart -->
            </div>
        </div>
    </div>

    <div
        class="lg:flex flex-wrap blog-posts lg:space-x-5 space-y-5 lg:space-y-0 rtl:space-x-reverse">

        <div class="flex-1">
            <div class="grid xl:grid-cols-2 grid-cols-1 gap-5">
                <div class="xl:col-span-2 col-span-1">
                    <div class="card">
                        <div class="card-body p-6">
                            <div class=" h-[496px] w-full mb-6 ">
                                <img src=static/assets/images/all-img/maqueta.jpeg alt
                                    class=" w-full h-full  object-cover">
                            </div>
                            <div class="flex justify-between mb-4">
                                <a href="#"
                                    class="inline-flex leading-5 text-slate-500 dark:text-slate-400 text-sm font-normal">
                                    <span>
                                        <iconify-icon
                                            icon="heroicons-outline:calendar"
                                            class="text-slate-400 dark:text-slate-400 ltr:mr-2 rtl:ml-2 text-lg"></iconify-icon>
                                    </span>
                                    <span>
                                        14/06/2024</span>
                                </a>
                            </div>
                            <h5 class="card-title text-slate-900">
                                <a href="{{ url_for('home') }}">
                                    Samsung Safe Zone
                                </a>
                            </h5>
                            <h5 class="card-subtitle">La seguridad de tu hogar en la palma de tu mano</h5>
                            <div class="card-text dark:text-slate-300 mt-4 space-y-4">
                                <div id="short-text">
                                    <strong>Samsung Safe Zone</strong> es un avanzado sistema de seguridad diseñado para protegerte a ti y a los tuyos. Combinando tecnología de punta con dispositivos inteligentes, ofrecemos una solución de seguridad perfecta para tu hogar o negocio.
                                </div>
                                <div id="full-text" class="hidden">
                                    <strong>Samsung Safe Zone</strong> es un avanzado sistema de seguridad diseñado para protegerte a ti y a los tuyos. Combinando tecnología de punta con dispositivos inteligentes, ofrecemos una solución de seguridad perfecta para tu hogar o negocio.
                                    
                                    <strong class="mt-4 mb-2 block">¿Qué te ofrecemos?</strong>
                                    
                                    <div class="list-item-safezone">
                                        <strong>Sistema de sensores y cámaras:</strong>
                                    </div>
                                    <div class="list-item-safezone second-level">
                                        Detecta y detén peligros potenciales con tecnología de última generación.
                                    </div>

                                    <div class="mb-1"></div>

                                    <div class="list-item-safezone">
                                        <strong>Dispositivos inteligentes:</strong> 
                                    </div>
                                    <div class="list-item-safezone second-level">
                                        Controla tu hogar de manera simple y efectiva.
                                    </div>

                                    <strong class="mt-4 mb-2 block">Dos maneras de protegerte:</strong>

                                    <div class="list-item-safezone">
                                        <strong>Aplicación web fácil de usar:</strong>
                                    </div>
                                    <div class="list-item-safezone second-level">
                                        <strong>Registro y acceso seguro:</strong> Incluye reconocimiento facial para mayor seguridad.
                                    </div>
                                    <div class="list-item-safezone second-level">
                                        <strong>Control total:</strong> Gestiona las luces, cierra puertas, activa alarmas, monitorea tu hogar, llama a la policía y gestiona usuarios desde un solo lugar.
                                    </div>

                                    <div class="mb-1"></div>

                                    <div class="list-item-safezone">
                                        <strong>Bot Samsung Safe Zone en Telegram:</strong>
                                    </div>
                                    <div class="list-item-safezone second-level">
                                        <strong>Control remoto:</strong> Maneja las funciones de tu hogar desde tu teléfono móvil.
                                    </div>
                                    <div class="list-item-safezone second-level">
                                        <strong>Alertas en tiempo real:</strong> Recibe notificaciones instantáneas sobre actividades sospechosas y no sospechosas.
                                    </div>

                                    <strong class="mt-4 mb-2 block">Fácil de usar, confiable y siempre disponible</strong>

                                    <div>
                                        Nuestro sistema está diseñado para darte tranquilidad y un control total sobre tu hogar, sin complicaciones. 
                                        Con Samsung Safe Zone, tu seguridad está garantizada con la calidad y confiabilidad que solo Samsung puede ofrecer.
                                    </div>

                                    <strong class="mt-4 mb-2 block">Disfruta de la tranquilidad que mereces.</strong>
                                </div>
                                <button id="toggle-button" class="btn btn-outline-dark">Leer más</button>
                            </div>                            
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class=" h-[248px] w-full mb-6 ">
                        <img src=static/assets/images/all-img/alarm.jpg alt
                            class=" w-full h-full  object-cover">
                    </div>
                    <div class="px-6 pb-6">
                        <div class="flex justify-between mb-4">
                            <div>
                                <h5 class="card-title text-slate-900">
                                    <a href="#">Sistema de alarmas</a>
                                </h5>
                            </div>
                            <a href="#"
                                class="inline-flex leading-5 text-slate-500 dark:text-slate-400 text-sm font-normal">
                                <span style="font-size: 1.75em;">🚨</span>
                            </a>
                        </div>
                        <div class="card-text dark:text-slate-300 mt-4">
                            <p>
                                Con un simple toque en tu aplicación móvil o un comando al bot, puedes activar o desactivar la alarma de tu hogar desde cualquier lugar.
                            </p>
                            <div class="mt-4 space-x-4 rtl:space-x-reverse">
                                <a href="#" class="btn-a">
                                    Leer más
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class=" h-[248px] w-full  ">
                        <img src=static/assets/images/all-img/lights.jpg alt
                            class=" w-full h-full  object-cover">
                    </div>
                    <div class="p-6">
                        <div class="flex justify-between mb-4">
                            <div>
                                <h5 class="card-title text-slate-900">
                                    <a href="#">Luces inteligentes</a>
                                </h5>
                            </div>
                            <a href="#"
                                class="inline-flex leading-5 text-slate-500 dark:text-slate-400 text-sm font-normal">
                                <span style="font-size: 1.75em;">💡</span>
                            </a>
                        </div>
                        <div class="card-text dark:text-slate-300 mt-4">
                            <p>
                                Las luces de tu hogar se encienden automáticamente cuando se detecta movimiento, disuadiendo posibles intrusos.
                            </p>
                            <div class="mt-4 space-x-4 rtl:space-x-reverse">
                                <a href="#" class="btn-a">
                                    Leer más
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class=" h-[248px] w-full  ">
                        <img src=static/assets/images/all-img/access.jpg alt
                            class=" w-full h-full  object-cover">
                    </div>
                    <div class="p-6">
                        <div class="flex justify-between mb-4">
                            <div>
                                <h5 class="card-title text-slate-900">
                                    <a href="#">Control de accesos</a>
                                </h5>
                            </div>
                            <a href="#"
                                class="inline-flex leading-5 text-slate-500 dark:text-slate-400 text-sm font-normal">
                                <span style="font-size: 1.75em;">🔒</span>
                            </a>
                        </div>
                        <div class="card-text dark:text-slate-300 mt-4">
                            <p>
                                Controla las cerraduras de tus puertas directamente desde la aplicación, asegurando que tu hogar esté siempre protegido.
                            </p>
                            <div class="mt-4 space-x-4 rtl:space-x-reverse">
                                <a href="#" class="btn-a">
                                    Leer más
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class=" h-[248px] w-full mb-6 ">
                        <img src=static/assets/images/all-img/motion-detector.jpg alt
                            class=" w-full h-full  object-cover">
                    </div>
                    <div class="px-6 pb-6">
                        <div class="flex justify-between mb-4">
                            <div>
                                <h5 class="card-title text-slate-900">
                                    <a href="#">Detector de movimiento</a>
                                </h5>
                            </div>
                            <a href="#"
                                class="inline-flex leading-5 text-slate-500 dark:text-slate-400 text-sm font-normal">
                                <span style="font-size: 1.75em;">🔊</span>
                            </a>
                        </div>
                        <div class="card-text dark:text-slate-300 mt-4">
                            <p>
                                Sensores avanzados que detectan cualquier movimiento sospechoso y activan la alarma automáticamente
                            </p>
                            <div class="mt-4 space-x-4 rtl:space-x-reverse">
                                <a href="#" class="btn-a">
                                    Leer más
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class=" h-[248px] w-full  ">
                        <img src=static/assets/images/all-img/police.jpg alt
                            class=" w-full h-full  object-cover">
                    </div>
                    <div class="p-6">
                        <div class="flex justify-between mb-4">
                            <div>
                                <h5 class="card-title text-slate-900">
                                    <a href="#">Enlace a la policia</a>
                                </h5>
                            </div>
                            <a href="#"
                                class="inline-flex leading-5 text-slate-500 dark:text-slate-400 text-sm font-normal">
                                <span style="font-size: 1.75em;">🚓</span>
                            </a>
                        </div>
                        <div class="card-text dark:text-slate-300 mt-4">
                            <p>
                                En caso de intrusión, nuestro sistema puede notificar automáticamente a las autoridades locales para una respuesta rápida.
                            </p>
                            <div class="mt-4 space-x-4 rtl:space-x-reverse">
                                <a href="#" class="btn-a">
                                    Leer más
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class=" h-[248px] w-full  ">
                        <img src=static/assets/images/all-img/safe-mode.jpg alt
                            class=" w-full h-full  object-cover">
                    </div>
                    <div class="p-6">
                        <div class="flex justify-between mb-4">
                            <div>
                                <h5 class="card-title text-slate-900">
                                    <a href="#">Modo seguro</a>
                                </h5>
                            </div>
                            <a href="#"
                                class="inline-flex leading-5 text-slate-500 dark:text-slate-400 text-sm font-normal">
                                <span style="font-size: 1.75em;">🔐</span>
                            </a>
                        </div>
                        <div class="card-text dark:text-slate-300 mt-4">
                            <p>
                                Desbloquea nuestra funcionalidad premium y aumenta el nivel de confianza de la seguridad de tu hogar.
                            </p>
                            <div class="mt-4 space-x-4 rtl:space-x-reverse">
                                <a href="#" class="btn-a">
                                    Leer más
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}