<!DOCTYPE html>
<html lang="en" dir="ltr" class="light">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <title>Inicia sesión - SSafeZone</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/images/logo/logo.png') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/rt-plugins.css">
  <link href="https://unpkg.com/aos@2.3.0/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/app.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <!-- START : Theme Config js-->
  <script src="{{ url_for('static', filename='assets/js/settings.js') }}" sync></script>
  <!-- END : Theme Config js-->
</head>

<body class=" font-inter skin-default">

    <div class="loginwrapper bg-cover bg-no-repeat bg-center" style="background-image: url('{{ url_for('static', filename='assets/images/all-img/people.jpg') }}');">
    <div class="lg-inner-column">
      <div class="left-columns lg:w-1/2 lg:block hidden">
        <div class="ml-6 py-10 ltr:pl-10">
          <h4 class="text-white">
            Confía en cada instante con 
            <span class="text-white font-bold">Samsung SafeZone</span>
          </h4>
        </div>
      </div>
      <div class="lg:w-1/2 w-full flex flex-col items-center justify-center">
        <div class="auth-box-3">
          <div class="mobile-logo text-center mb-6 lg:hidden block">
            <a href="#">
            </a>
          </div>
          <div class="text-center 2xl:mb-10 mb-5">
            <h4 class="font-medium">Iniciar sesión</h4>
            <div class="text-slate-500 dark:text-slate-400 text-base">
                Asegura la integridad de tu hogar con SSafeNet.
            </div>
          </div>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                {% if category == 'error' %}
                  <div class="mb-4">
                      <div class="dark:text-white bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                          <ul>
                            <li>{{ message }}</li>
                          </ul>
                      </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endwith %}
          <!-- BEGIN: Login Form -->
          <form method='POST'>
            <div class="fromGroup">
              <label class="block capitalize form-label">Email</label>
              <div class="relative">
                <input type="email" name="email" class="form-control py-2" placeholder="Ingresa tu correo electrónico" required>
              </div>
            </div>
            <div class="fromGroup">
              <label class="block capitalize form-label mt-2">Contraseña</label>
              <div class="relative"><input type="password" name="password" class="  form-control py-2" placeholder="Ingresa tu contraseña" required>
              </div>
            </div>
            <div class="flex justify-end">
                <a class="text-sm text-slate-800 dark:text-slate-400 leading-6 font-medium mt-3 mb-3" href="{{ url_for('auth.recuperar_contrasena') }}" >¿Olvidaste tu contraseña?</a>
            </div>            
            <button type="submit" class="btn btn-dark block w-full text-center">Iniciar sesión</button>
          </form>
          <!-- END: Login Form -->
          <div class="mx-auto font-normal text-slate-500 dark:text-slate-400 2xl:mt-12 mt-6 uppercase text-sm text-center">¿Aún no tienes cuenta?
            <a href="{{ url_for('auth.register') }}" class="text-slate-900 dark:text-white font-medium hover:underline">
              Registrate
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- scripts -->
  <script src="{{ url_for('static', filename='assets/js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/rt-plugins.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script>
    // Show toast notification if flash message exists
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'success' %}
            toastr.success("{{ message }}");
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
  </script>
</body>
</html>
