<!DOCTYPE html>
<html lang="en" dir="ltr" class="light">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <title>Inicia sesión - SSafeZone</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/images/logo/logo.png') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/rt-plugins.css">
  <link href="https://unpkg.com/aos@2.3.0/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/app.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
  <!-- START : Theme Config js-->
  <script src="{{ url_for('static', filename='assets/js/settings.js') }}" sync></script>
  <!-- END : Theme Config js-->
</head>

<body class=" font-inter skin-default">

    <div class="loginwrapper bg-cover bg-no-repeat bg-center" style="background-image: url('{{ url_for('static', filename='assets/images/all-img/people.jpg') }}');">
    <div class="lg-inner-column">
      <div class="left-columns lg:w-1/2 lg:block hidden">
        <div class="ml-6 py-10 ltr:pl-10">
          <h4 class="text-white">
            Confía en cada instante con 
            <span class="text-white font-bold">Samsung SafeZone</span>
          </h4>
        </div>
      </div>
      <div class="lg:w-1/2 w-full flex flex-col items-center justify-center">
        <div class="auth-box-3">
          <div class="mobile-logo text-center mb-6 lg:hidden block">
            <a href="#">
            </a>
          </div>
          <div class="text-center 2xl:mb-10 mb-5">
            <h4 class="font-medium">Iniciar sesión</h4>
            <div class="text-slate-500 dark:text-slate-400 text-base">
                Asegura la integridad de tu hogar con SSafeNet.
            </div>
          </div>
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                {% if category == 'error' %}
                  <div class="mb-4">
                      <div class="dark:text-white bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                          <ul>
                            <li>{{ message }}</li>
                          </ul>
                      </div>
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endwith %}
          <!-- BEGIN: Login Form -->
          <form method='POST'>
            <div class="fromGroup">
              <label class="block capitalize form-label">Email</label>
              <div class="relative">
                <input type="email" name="email" class="form-control py-2" placeholder="Ingresa tu correo electrónico" required>
              </div>
            </div>
            <div class="fromGroup">
              <label class="block capitalize form-label mt-2">Contraseña</label>
              <div class="relative"><input type="password" name="password" class="  form-control py-2" placeholder="Ingresa tu contraseña" required>
              </div>
            </div>
            <div class="flex justify-end">
                <a class="text-sm text-slate-800 dark:text-slate-400 leading-6 font-medium mt-3 mb-3" href="{{ url_for('auth.recuperar_contrasena') }}" >¿Olvidaste tu contraseña?</a>
            </div>            
            <button type="submit" class="btn btn-dark block w-full text-center">Iniciar sesión</button>
          </form>
          <!-- END: Login Form -->
          
          <div class="text-center">
            <button>
              <a href="#" 
                class="iniciar-sesion-btn btn btn-sm btn-outline-dark mt-4 w-full inline-block"
                data-bs-toggle="modal" 
                data-bs-target="#iniciarSesionModal">
                Iniciar sesión con reconocimiento facial
              </a>
            </button>
          </div>
          <div class="text-center">
            <button>
              <a href="{{ url_for('public.paquetes_disponibles') }}" class="btn btn-sm btn-outline-primary mt-4 inline-block">
                Consultar paquetes SSafeNet
              </a>
            </button>
          </div>
          <div class="mx-auto font-normal text-slate-500 dark:text-slate-400 2xl:mt-6 mt-6 uppercase text-sm text-center">¿Aún no tienes cuenta?
            <a href="{{ url_for('auth.register') }}" class="text-slate-900 dark:text-white font-medium hover:underline">
              Registrate
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal iniciar sesión -->
<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="iniciarSesionModal" tabindex="-1" aria-labelledby="default_modal" aria-hidden="true">
  <div class="modal-dialog relative w-auto pointer-events-none top-1/4">
      <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white dark:bg-slate-900 bg-clip-padding rounded-md outline-none text-current mx-4 sm:mx-auto">
          <div class="modal-header px-4 py-3 border-b border-slate-200 dark:border-slate-700">
              <h5 class="modal-title" id="editModalLabel">Ingresa tu correo electrónico</h5>
              <span class="dark:text-slate-300">Si ya estás registrado y cuentas con la opción habilitada, podrás acceder mediante reconocimiento facial</span>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body p-4">
              <form id="buscarCorreoForm" action="{{ url_for('auth.buscar_correo_electronico') }}" method="post">
                  <div class="mb-3">
                      <label for="correoElectronico" class="form-label">Correo electrónico</label>
                      <input type="email" class="form-control" id="correoElectronico" name="correoElectronico" required>
                      <div id="errorMessage" class="text-danger mt-2"></div>
                  </div>
                  
                  <div class="text-right">
                      <button type="submit" class="btn btn-primary text-right">Ingresar</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<!-- Fin modal iniciar sesión -->

<!-- Modal video-face -->
<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="usuarioEncontradoModal" tabindex="-1" aria-labelledby="preSaveFaceLabel" aria-hidden="true">
  <div class="modal-dialog relative w-auto pointer-events-none top-1/5 mx-4 sm:mx-auto">
      <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white dark:bg-slate-900 bg-clip-padding rounded-md outline-none text-current">
          <div class="modal-body p-4">
              <div class="text-center">
                  <p class="text-lg font-semibold mb-3 dark:text-slate-400">Graba tu rostro</p>
                  <div class="relative lg:col-span-9 col-span-12 card p-6 order-1 lg:order-2">
                    <div id="video-container">
                        <video id="video" autoplay></video>
                        <div id="overlay">
                            <div class="oval"></div>
                            <div id="recordingMessage" class="recording-message">Grabando...</div>
                        </div>
                    </div>
                    <button id="startBtn" class="btn btn-primary">Grabar Video</button>
                </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Fin modal video-face -->


  <style>
    #video {
        width: 100%;
        height: 100%;
        border: 2px solid black;
    }

    #overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none; /* Permite hacer clic solo en el botón */
    }

    #startBtn {
        margin-top: 20px;
    }

    /* Ajustado para un rectángulo centrado */
    .oval {
        position: absolute;
        border: 3px solid white;
        border-radius: 10px; 
        width: 160px;
        height: 220px; 
        left: 50%;
        top: 40%;
        transform: translate(-50%, -50%);
    }

    .recording-message {
        display: none;
        position: absolute;
        bottom: 95%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 24px;
        color: green;
        font-weight: bold;
    }

    .recording {
        display: block;
    }
  </style>


  <!-- scripts -->
  <script src="{{ url_for('static', filename='assets/js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/rt-plugins.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script>
    // Show toast notification if flash message exists
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'success' %}
            toastr.success("{{ message }}");
          {% endif %}
        {% endfor %}
      {% endif %}
    {% endwith %}
  </script>
  <script>
    document.getElementById('buscarCorreoForm').addEventListener('submit', function(event) {
        event.preventDefault();  // Evitar el comportamiento por defecto del formulario

        // Obtener el valor del correo electrónico
        var correoElectronico = document.getElementById('correoElectronico').value;

        // Realizar la solicitud AJAX
        fetch('{{ url_for("auth.buscar_correo_electronico") }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ correoElectronico: correoElectronico })
        })
        .then(response => {
            // Verificar si la respuesta es válida
            if (!response.ok) {
                return response.text().then(text => {
                    throw new Error('Error: ' + response.status + ' ' + text);
                });
            }
            return response.json();
        })
        .then(data => {
            const errorMessage = document.getElementById('errorMessage');

            if (data.existe) {
                console.log("EXISTE");
                
                // Ocultar el modal manualmente quitando clases relacionadas a modales
                const modal = document.getElementById('iniciarSesionModal');
                modal.classList.remove('fade', 'show');
                modal.style.display = 'none'; // Esconder el modal

                // Mostrar el modal de usuario encontrado
                const modalUsuarioEncontrado = document.getElementById('usuarioEncontradoModal');
                modalUsuarioEncontrado.classList.add('fade', 'show');
                modalUsuarioEncontrado.style.display = 'block'; // Mostrar el modal

                // Definir mediaRecorder y recordedChunks fuera del bloque
                let mediaRecorder;
                let recordedChunks = [];

                const video = document.getElementById('video');
                const startBtn = document.getElementById('startBtn');
                const recordingMessage = document.getElementById('recordingMessage');

                // Acceder a la cámara
                navigator.mediaDevices.getUserMedia({ video: true })
                    .then(stream => {
                        video.srcObject = stream;

                        mediaRecorder = new MediaRecorder(stream);

                        mediaRecorder.ondataavailable = event => {
                            if (event.data.size > 0) {
                                recordedChunks.push(event.data);
                            }
                        };

                        mediaRecorder.onstop = () => {
                            const blob = new Blob(recordedChunks, { type: 'video/webm' });
                            recordedChunks = [];

                            // Enviar el video al servidor
                            const formData = new FormData();
                            formData.append('video', blob, 'grabacion.webm');
                            formData.append('correoElectronico', correoElectronico);

                            fetch('{{ url_for("auth.login_faceid") }}', {
                                method: 'POST',
                                body: formData
                            })
                            .then(response => response.json())
                            .then(data => {
                                if (data.message) {
                                    alert(data.message);  // Mostrar mensaje de éxito
                                } else if (data.error) {
                                    alert(data.error);  // Mostrar mensaje de error
                                }if (data.redirect_url) {
                                    window.location.href = data.redirect_url;
                                }
                            })
                            .catch(error => console.error('Error:', error));
                        };

                        // Iniciar la grabación por 20 segundos
                        startBtn.onclick = () => {
                            if (mediaRecorder.state === 'inactive') {
                                mediaRecorder.start();
                                startBtn.disabled = true; // Deshabilitar el botón mientras graba
                                recordingMessage.classList.add('recording'); // Mostrar el mensaje de grabación

                                setTimeout(() => {
                                    mediaRecorder.stop();
                                    startBtn.disabled = false; // Habilitar el botón después de la grabación
                                    recordingMessage.classList.remove('recording'); // Ocultar el mensaje de grabación
                                }, 20000); // 20 segundos
                            }
                        };
                    })
                    .catch(error => {
                        console.error('Error al acceder a la cámara:', error);
                    });

            } else {
                console.log("NO EXISTE");
                // Mostrar mensaje de error y agregar la clase dark:text-white
                errorMessage.textContent = data.error || 'Error inesperado';
                errorMessage.classList.add('dark:text-white');
            }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    });
</script>

</body>
</html>
