<!DOCTYPE html>
<html lang="en" dir="ltr" class="light">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <title>Crea una cuenta - SSafeZone</title>
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/images/logo/logo.png') }}">
  <link rel="icon" type="image/png" href="assets/images/logo/favicon.svg">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/rt-plugins.css">
  <link href="https://unpkg.com/aos@2.3.0/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/app.css') }}">
  <!-- START : Theme Config js-->
  <script src="{{ url_for('static', filename='assets/js/settings.js') }}" sync></script>
  <!-- END : Theme Config js-->
</head>

<body class="font-inter skin-default">
  <div class="loginwrapper">
    <div class="lg-inner-column">
      <div class="left-column relative z-[1]">
        <div class="pt-10 ltr:pl-20">
          <h4>
            Confianza y protección con 
            <span class="text-slate-800 dark:text-slate-400 font-bold">Samsung SafeZone</span>
          </h4>
        </div>
        <div class="absolute h-full w-full">
          <img src="{{ url_for('static', filename='assets/images/all-img/family-home.jpg') }}" alt="family-home" class="h-full w-full object-contain">
        </div>
      </div>
      <div class="right-column  relative">
        <div class="inner-content h-full flex flex-col bg-white dark:bg-slate-800">
          <div class="auth-box h-full flex flex-col justify-center">
            <div class="text-center 2xl:mb-10 mb-4">
              <h4 class="font-medium">Crea una cuenta</h4>
              <div class="text-slate-500 text-base">
                Crea tu cuenta para acceder a las funcionalidades de tu hogar
              </div>
            </div>
            {% for message in get_flashed_messages() %}
            <div class="mb-4">
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                    <ul>
                      <li>{{ message }}</li>
                    </ul>
                </div>
            </div>
            {% endfor %}
            <!-- BEGIN: Registration Form -->
            <form method='POST'>
              <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                  <div class="formGroup">
                      <label class="block capitalize form-label">Nombre</label>
                      <div class="relative">
                          <input type="text" name="nombre" class="form-control py-2" placeholder="Ingresa tu nombre" required value="{{ request.form['nombre'] | default('') }}">
                      </div>
                  </div>
                  <div class="formGroup">
                      <label class="block capitalize form-label">Apellidos</label>
                      <div class="relative">
                          <input type="text" name="apellidos" class="form-control py-2" placeholder="Ingresa tus apellidos" required value="{{ request.form['apellidos'] | default('') }}">
                      </div>
                  </div>
                  <div class="formGroup col-span-2">
                      <label class="block capitalize form-label">Teléfono</label>
                      <div class="relative">
                          <input type="text" name="telefono" class="form-control py-2" placeholder="Ingresa tu teléfono" required value="{{ request.form['telefono'] | default('') }}">
                      </div>
                  </div>
                  <div class="formGroup col-span-2">
                      <label class="block capitalize form-label">Correo electrónico</label>
                      <div class="relative">
                          <input type="email" name="email" class="form-control py-2" placeholder="Ingresa tu correo electrónico" required value="{{ request.form['email'] | default('') }}">
                      </div>
                  </div>
                  <div class="formGroup">
                      <label class="block capitalize form-label">Contraseña</label>
                      <div class="relative">
                          <input type="password" name="password" class="form-control py-2" placeholder="Ingresa tu contraseña" required>
                      </div>
                  </div>
                  <div class="formGroup">
                      <label class="block capitalize form-label">Confirmar Contraseña</label>
                      <div class="relative">
                          <input type="password" name="confirmar_contrasena" class="form-control py-2" placeholder="Confirma tu contraseña" required>
                      </div>
                    </div>
                </div>
                <div class="formGroup">
                    <label class="block capitalize form-label mt-3">Código de acceso</label>
                    <div class="relative">
                        <input type="text" name="codigo_acceso" class="form-control py-2" placeholder="Ingresa tu código de acceso" required value="{{ request.form['codigo_acceso'] | default('') }}">
                    </div>
                </div>
                <div class="flex items-center">
                    <input type="checkbox" name="acepto_terminos" class="form-checkbox h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" {{ 'checked' if request.form.get('acepto_terminos') else '' }}>
                    <span class="ml-2 text-slate-500 dark:text-slate-400 text-sm md:text-base leading-6 mt-3 mb-3">
                        Aceptas nuestros <a href="#" data-bs-toggle="modal" data-bs-target="#terminosCondicionesModal" class="hover:underline text-primary-500">Términos y Condiciones</a> y 
                        <a href="#" data-bs-toggle="modal" data-bs-target="#politicaPrivacidadModal" class="hover:underline text-primary-500">Política de Privacidad</a>.
                    </span>
                </div>
                <button type="submit" class="btn btn-dark block w-full text-center">Crear cuenta</button>
            </form>
          
            <!-- END: Registration Form -->
            <div class="md:max-w-[345px] mx-auto font-normal text-slate-500 dark:text-slate-400 mt-8 uppercase text-sm">
              <span>¿Ya tienes cuenta?
                            </span>
              <a href="{{ url_for('auth.login') }}" class="text-slate-900 dark:text-white font-medium hover:underline">
                Inicia sesión
              </a>
            </div>
          </div>
          <div class="auth-footer text-center">
            Copyright {{ current_year }}, SSafeZone Todos los Derechos Reservados.
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal términos y condiciones -->
  <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="terminosCondicionesModal" tabindex="-1" aria-labelledby="default_modal" aria-hidden="true">
    <div class="modal-dialog relative w-auto pointer-events-none">
        <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
            <div class="relative bg-white rounded-lg shadow dark:bg-slate-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-slate-600" style="background-color:#0F172A">
                <h3 class="text-xl font-medium text-white dark:text-white">
                    Términos y Condiciones SSafeNet
                </h3>
                <button type="button" class="text-slate-400 bg-transparent hover:text-slate-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-slate-600 dark:hover:text-white" data-bs-dismiss="modal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="#ffffff" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                </div>
                <!-- Modal body -->
                <div class="p-6 space-y-4">
                <h6 class="text-base text-slate-900 dark:text-white leading-6">
                    Términos y Condiciones
                </h6>
                <p class="text-base text-slate-600 dark:text-slate-400 leading-6">
                  Al utilizar SSafeNet, usted acepta los siguientes términos y condiciones:
                </p>
                <ul class="list-disc ml-4 text-slate-600 dark:text-slate-400 leading-6">
                  <li>El acceso y uso de SSafeNet está destinado únicamente para la protección y administración de su hogar. Cualquier uso indebido o ilegal será su responsabilidad.</li>
                  <li>SSafeNet utiliza tecnologías avanzadas, como el reconocimiento facial y dispositivos IoT, para proporcionar un sistema de seguridad integral. El usuario es responsable de mantener la confidencialidad de su cuenta y credenciales.</li>
                  <li>Nos reservamos el derecho de suspender o cancelar su acceso a la plataforma si detectamos actividades sospechosas o incumplimiento de estos términos.</li>
                  <li>SSafeNet no se hace responsable por fallos técnicos, mal uso del sistema o errores en el suministro de servicios de terceros, como proveedores de internet o electricidad.</li>
                  <li>El sistema está diseñado para alertas en tiempo real y automatización de funciones relacionadas con la seguridad del hogar. No obstante, SSafeNet no garantiza la prevención absoluta de incidentes de seguridad.</li>
                  <li>El usuario se compromete a utilizar SSafeNet respetando la legislación vigente y las normativas de protección de datos personales en México.</li>
                  <li>Los datos personales, incluyendo su información de contacto y datos biométricos, se utilizarán exclusivamente para el correcto funcionamiento del sistema y la mejora de servicios.</li>
                  <li>Podemos actualizar estos términos y condiciones de vez en cuando. Cualquier cambio se le notificará a través de la plataforma.</li>
                </ul>
                </div>
                <!-- Modal footer -->
                <div class="flex items-center justify-end p-6 space-x-2 border-t border-slate-200 rounded-b dark:border-slate-600">
                  <button type="button" class="btn btn-dark rounded inline-flex justify-center text-white" data-bs-dismiss="modal">Acepto</button>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Fin modal términos y condiciones -->

  <!-- Modal aviso de privacidad -->
  <div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="politicaPrivacidadModal" tabindex="-1" aria-labelledby="default_modal" aria-hidden="true">
    <div class="modal-dialog relative w-auto pointer-events-none">
        <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
            <div class="relative bg-white rounded-lg shadow dark:bg-slate-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-slate-600" style="background-color:#0F172A">
                <h3 class="text-xl font-medium text-white dark:text-white">
                    Política de Privacidad SSafeNet
                </h3>
                <button type="button" class="text-slate-400 bg-transparent hover:text-slate-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-slate-600 dark:hover:text-white" data-bs-dismiss="modal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="#ffffff" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                </div>
                <!-- Modal body -->
                <div class="pt-6 px-6 space-y-4">
                <h6 class="text-base text-slate-900 dark:text-white leading-6">
                    Aviso de Privacidad
                </h6>
                <p class="text-base text-slate-600 dark:text-slate-400 leading-6">
                  En SSafeNet, nos comprometemos a proteger su privacidad y garantizar la seguridad de sus datos personales. 
                  Los datos que recabamos, como su rostro para reconocimiento facial, datos personales, y dirección del hogar, se utilizan exclusivamente para los siguientes fines:
                  <ul class="list-disc ml-4 text-base text-slate-600 dark:text-slate-400 leading-6">
                    <li>Creación y administración de su cuenta en la plataforma SSafeNet.</li>
                    <li>Optimización de las funcionalidades del sistema de seguridad del hogar, como el control remoto y monitoreo en tiempo real.</li>
                    <li>Uso de tecnologías IoT para la automatización y protección de su hogar.</li>
                    <li>Alertas y notificaciones en tiempo real relacionadas con la seguridad de su hogar.</li>
                    <li>Mejora continua de la plataforma a través del análisis de datos de uso y desempeño.</li>
                    <li>Envío de información relevante sobre actualizaciones, promociones y boletines de SSafeNet.</li>
                    <li>Reporte de datos estadísticos sobre la actividad de su hogar.</li>
                    <li>Publicación de casos de éxito y testimonios en redes sociales, previo consentimiento.</li>
                  </ul>
                </p>
                <p class="text-base text-slate-600 dark:text-slate-400 leading-6">
                  Para más información sobre el manejo de sus datos personales y los derechos que puede ejercer, visite nuestro Aviso de Privacidad Integral en nuestro sitio web.
                </p>
                </div>
                <div class="p-6 space-y-4">
                <h6 class="text-base text-slate-900 dark:text-white leading-6">
                    Aviso de Confidencialidad
                </h6>
                <p class="text-base text-slate-600 dark:text-slate-400 leading-6">
                  Este modal y cualquier documento adjunto contienen información propietaria, confidencial o privilegiada que pertenece a SSafeNet, 
                  se advierte que cualquier divulgación, distribución, copia o acción relacionada al contenido de esta comunicación, 
                  sin la autorización del remitente está totalmente prohibida. Si usted no es el destinatario o recibe este mensaje por error, 
                  por favor notifíquelo de inmediato al remitente y bórrelo de su computadora repórtelo y/o consulte nuestro aviso de privacidad en la página de internet. 
                  Se han tomado las precauciones necesarias para asegurar el envío de cualquier correo electrónico libre de virus o contenido malicioso. 
                  No obstante, no podemos asegurar que así sea, por lo cual no nos hacemos responsables de cualquier daño atribuible al caso.
                </p>
                </div>
                <!-- Modal footer -->
                <div class="flex items-center justify-end p-6 space-x-2 border-t border-slate-200 rounded-b dark:border-slate-600">
                  <button type="button" class="btn btn-dark rounded inline-flex justify-center text-white" data-bs-dismiss="modal">Acepto</button>
                </div>
            </div>
        </div>
    </div>
  </div>
  <!-- Fin modal aviso de privacidad -->

  <!-- scripts -->
  <script src="{{ url_for('static', filename='assets/js/jquery-3.6.0.min.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/rt-plugins.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
</body>
</html>