{% extends 'layouts/layout-dashboard-user.html' %}

{% block header %}
    {% block title %}Mi cuenta{% endblock %}
    {% block styles %}
        <script src="https://cdn.tailwindcss.com"></script>
    {% endblock %}
{% endblock %}

{% block content %}
<div class="space-y-5 profile-page mt-3">
    <div class="profiel-wrap px-4 sm:px-6 md:px-8 pb-10 md:pt-[84px] pt-10 rounded-lg bg-white dark:bg-slate-800 lg:flex lg:space-y-0 space-y-6 justify-between items-end relative z-[1]">
        <div class="bg-slate-900 dark:bg-slate-700 absolute left-0 top-0 md:h-1/2 h-[150px] w-full z-[-1] rounded-t-lg"></div>
        <div class="profile-box flex-none md:text-start text-center">
            <div class="md:flex items-end md:space-x-6 rtl:space-x-reverse">
                <div class="flex-none">
                    <div class="md:h-[186px] md:w-[186px] h-[140px] w-[140px] md:ml-0 md:mr-0 ml-auto mr-auto md:mb-0 mb-4 rounded-full ring-4 ring-slate-100 relative">
                        <img src="{{ url_for('static', filename='assets/images/all-img/user-photo.jpg') }}" alt="user" class="w-full h-full object-cover rounded-full">
                    </div>
                </div>
                <div class="flex-1">
                    <div class="text-2xl font-medium text-slate-900 dark:text-slate-200 mb-[1px]">
                        {{ user.nombre }} {{ user.apellidos }}
                    </div>
                    <div class="text-sm font-light text-slate-600 dark:text-slate-400">
                        {% if user.rol == 'Owner' %}
                            Dueño
                        {% else %}
                            Miembro del hogar
                        {% endif %}
                    </div>
                    <div class="mt-2 mr-2 text-white bg-yellow-400 focus:outline-none focus:ring-4 focus:ring-yellow-300 font-small rounded-full text-sm px-3 py-1 text-center me-2 mb-2 dark:focus:ring-yellow-900">
                        <iconify-icon icon="cil:badge" class="mr-2 relative top-[2px] text-lg ltr:mr-1 rtl:ml-1" width="1em" height="1em"></iconify-icon>{{ paquete }}</div>
                </div>
            </div>
        </div>
        
        <div class="text-left mt-4 md:mt-0">
            <a href="#"
                class="w-full lg:w-auto inline-flex items-center justify-center text-white {% if user.rostro_guardado == 1 %}bg-gray-400 cursor-not-allowed{% else %}bg-blue-700 hover:bg-blue-800 focus:ring-blue-500{% endif %} focus:outline-none focus:ring-4 font-medium rounded-full text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-500" 
                data-bs-toggle="modal" data-bs-target="#pre-save-face"
                {% if user.rostro_guardado == 1 %}disabled{% endif %}>
                <span class="flex items-center">
                    <iconify-icon class="text-xl ltr:mr-2 rtl:ml-2" icon="bx-face"></iconify-icon>
                    <span>{% if user.rostro_guardado == 1 %}Rostro capturado{% else %}Añadir reconocimiento facial{% endif %}</span>
                </span>
            </a>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-6 mt-6">
        <div class="lg:col-span-4 col-span-12">
            <div class="card h-full">
                <header class="card-header">
                    <h4 class="card-title">Información</h4>
                </header>
                <div class="card-body p-6">
                    <ul class="list space-y-8">
                        <li class="flex space-x-3 rtl:space-x-reverse">
                            <div class="flex-none text-2xl text-slate-600 dark:text-slate-300">
                                <iconify-icon icon="heroicons:envelope"></iconify-icon>
                            </div>
                            <div class="flex-1">
                                <div class="uppercase text-xs text-slate-500 dark:text-slate-300 mb-1 leading-[12px]">
                                    EMAIL
                                </div>
                                <span class="text-base text-slate-600 dark:text-slate-50">
                                    {{ user.email }}
                                </span>
                            </div>
                        </li>
                        <li class="flex space-x-3 rtl:space-x-reverse">
                            <div class="flex-none text-2xl text-slate-600 dark:text-slate-300">
                                <iconify-icon icon="heroicons:phone-arrow-up-right"></iconify-icon>
                            </div>
                            <div class="flex-1">
                                <div class="uppercase text-xs text-slate-500 dark:text-slate-300 mb-1 leading-[12px]">
                                    TELEFÓNO
                                </div>
                                <span class="text-base text-slate-600 dark:text-slate-50">
                                    {{ user.telefono }}
                                </span>
                            </div>
                        </li>
                        <li class="flex space-x-3 rtl:space-x-reverse">
                            <div class="flex-none text-2xl text-slate-600 dark:text-slate-300">
                                <iconify-icon icon="heroicons:map"></iconify-icon>
                            </div>
                            <div class="flex-1">
                                <div class="uppercase text-xs text-slate-500 dark:text-slate-300 mb-1 leading-[12px]">
                                    UBICACIÓN DEL HOGAR
                                </div>
                                <div class="text-base text-slate-600 dark:text-slate-50">
                                    {{ hogar.calle }} {{ hogar.numero_exterior }}{{ ', ' ~ hogar.numero_interior if hogar.numero_interior }}<br>
                                    {{ hogar.colonia }}, {{ hogar.municipio }}, {{ hogar.estado }}<br>
                                    {{ hogar.codigo_postal }}<br>
                                </div>
                            </div>
                        </li>
                    </ul>
                    {% if user.rol == 'Owner' %}
                        <div class="text-left mt-4 md:mt-0">
                            <a href="#" 
                                class="cancelar-suscripcion-btn inline-flex w-full mt-4 items-center justify-center text-white bg-red-700 hover:bg-red-800 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium text-sm px-5 py-2.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900" 
                                data-bs-toggle="modal" 
                                data-bs-target="#cancelarSuscripcionModal" 
                                data-hogar="{{ hogar_id }}">
                                <span class="flex items-center">
                                    <iconify-icon class="text-xl ltr:mr-2 rtl:ml-2" icon="material-symbols:cancel-outline"></iconify-icon>
                                    <span>Cancelar suscripción</span>
                                </span>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="lg:col-span-8 col-span-12">
            <div class="card">
                <header class="card-header">
                    <h4 class="card-title">Ubicación en mapa del hogar</h4>
                </header>
                <div class="card-body">
                    <div id="map" class="w-full h-[300px]"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal cancelar -->
<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="cancelarSuscripcionModal" tabindex="-1" aria-labelledby="default_modal" aria-hidden="true">
    <div class="modal-dialog relative w-auto pointer-events-none">
        <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white bg-clip-padding rounded-md outline-none text-current">
            <div class="relative bg-white rounded-lg shadow dark:bg-slate-700">
                <!-- Modal header -->
                <div class="flex items-center justify-between p-5 border-b rounded-t dark:border-slate-600" style="background-color:#0F172A">
                <h3 class="text-xl font-medium text-white dark:text-white">
                    Cancelar suscripción a SSafeNet
                </h3>
                <button type="button" class="text-slate-400 bg-transparent hover:text-slate-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-slate-600 dark:hover:text-white" data-bs-dismiss="modal">
                    <svg aria-hidden="true" class="w-5 h-5" fill="#ffffff" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
                </div>
                <!-- Modal body -->
                <div class="p-6 space-y-4">
                <h6 class="text-base text-slate-900 dark:text-white leading-6">
                    ¡Esta acción es irreversible!
                </h6>
                <p class="text-base text-slate-600 dark:text-slate-400 leading-6">
                    Al cancelar su suscripción, perderá el acceso a todas las funcionalidades de seguridad del sistema. Esto incluye la capacidad de monitoreo en tiempo real, la recepción de alertas instantáneas y el acceso a grabaciones de video.
                    Es importante mencionar que ya no se realizarán cargos al método de pago establecido. Si decide reactivar su suscripción en el futuro, podrá recuperar todas las funcionalidades del sistema enviando un correo a <a href="mailto:safezonesamsung@gmail.com" class="hover:underline"><strong>safezonesamsung@gmail.com</strong></a>.
                </p>
                </div>
                <!-- Modal footer -->
                <div class="flex items-center justify-end p-6 space-x-2 border-t border-slate-200 rounded-b dark:border-slate-600">
                    <form id="cancelarSuscripcionForm" method="post">
                        <button type="submit" class="btn btn-dark rounded inline-flex justify-center text-white">Confirmar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin modal cancelar -->

<!-- Modal pre-save face -->
<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="pre-save-face" tabindex="-1" aria-labelledby="preSaveFaceLabel" aria-hidden="true">
    <div class="modal-dialog relative w-auto pointer-events-none top-1/4 mx-4 sm:mx-auto">
        <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white dark:bg-slate-900 bg-clip-padding rounded-md outline-none text-current">
            <div class="modal-body p-4">
                <div class="text-center">
                    <p class="text-lg font-semibold mb-3 dark:text-slate-400">Agrega tu rostro para acceder fácilmente al sistema</p>
                    <p class="text-sm text-gray-600 dark:text-gray-400 mb-3">Sigue los siguientes pasos para completar el proceso:</p>
                    <ol class="text-left text-sm text-gray-600 dark:text-gray-400 m-5">
                        <li>1. El sistema grabará un video de tu rostro.</li>
                        <li>2. Asegúrate de no tener objetos que cubran tu rostro (gafas, mascarillas, etc.).</li>
                        <li>3. Mantén una postura fija y evita moverte durante la grabación.</li>
                    </ol>
                </div>
                <!--<div class="text-right">
                    <a href="#" 
                        class="btn btn-success" 
                        data-bs-toggle="modal" data-bs-target="#video-face">
                        <span>Continuar</span>
                    </a>
                </div>-->
                <div class="text-right">
                    <form action="{{ url_for('user.actualizar_rostro_registrado') }}" method="post">
                        <button type="submit" data-bs-toggle="modal" data-bs-target="#video-face" class="btn-success inline-flex w-full mt-4 items-center justify-center text-white focus:outline-none font-medium text-sm px-5 py-2.5 text-center">
                            Continuar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin pre-save face -->

<!-- Modal video-face -->
<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="video-face" tabindex="-1" aria-labelledby="preSaveFaceLabel" aria-hidden="true">
    <div class="modal-dialog relative w-auto pointer-events-none top-1/5 mx-4 sm:mx-auto">
        <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white dark:bg-slate-900 bg-clip-padding rounded-md outline-none text-current">
            <div class="modal-body p-4">
                <div class="text-center">
                    <p class="text-lg font-semibold mb-3 dark:text-slate-400">Graba tu rostro</p>
                    <div class="relative lg:col-span-9 col-span-12 card p-6 order-1 lg:order-2">
                        <div class="container">
                            <img src="{{ url_for('user.video_feed') }}">
                        </div>
                    </div>
                </div>
                <div class="text-left mt-4 md:mt-0">
                    <form action="{{ url_for('user.grabar_video') }}" method="post">
                        <button type="submit" class="btn-success inline-flex w-full mt-4 items-center justify-center text-white focus:outline-none font-medium text-sm px-5 py-2.5 text-center">
                            <iconify-icon class="text-xl ltr:mr-2 rtl:ml-2" icon="fluent:scan-camera-48-regular"></iconify-icon>Grabar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin modal video-face -->

<style>
    .container{
        margin:0;
        padding:0;
        width:100%,
        height:100vh;
        background-color: #E2D8F8;
        color: black;
        text-align: center;
    }
</style>

<!-- Incluir el script de Google Maps -->
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}"></script>
<script>

    document.addEventListener('DOMContentLoaded', (event) => {
        const cancelarBtn = document.querySelector('.cancelar-suscripcion-btn');
        if (cancelarBtn) {
            cancelarBtn.addEventListener('click', function() {
                let hogarId = this.getAttribute('data-hogar');
                console.log('Hogar ID:', hogarId);
                document.getElementById('cancelarSuscripcionForm').action = '/cancelar-suscripcion/' + hogarId;
            });
        }
    });
    
    function initMap() {
        var latitud = {{ latitud if latitud else 0 }};
        var longitud = {{ longitud if longitud else 0 }};
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: latitud, lng: longitud},
            zoom: 15
        });
    
        var markerIcon = {
            url: "{{ url_for('static', filename='assets/images/all-img/icono-casa.png') }}", 
            scaledSize: new google.maps.Size(40, 40), 
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(20, 40) 
        };
    
        var marker = new google.maps.Marker({
            position: {lat: latitud, lng: longitud},
            map: map,
            title: 'Ubicación del hogar',
            icon: markerIcon
        });
    }
    
    window.onload = initMap;
</script>
{% endblock %}
