{% extends 'layouts/layout-dashboard-user.html' %}

{% block header %}
    {% block title %}Miembros del hogar{% endblock %}
{% endblock %}


{% block content %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h4 class="card-title">Miembros del hogar</h4>
        <button type="button" class="btn btn-primary">Nuevo miembro</button>
    </div>
</div>

<div class="space-y-5 mt-3">
    <div class="card">
        <div class="card-body px-6 pb-6">
            <div class="overflow-x-auto -mx-6 dashcode-data-table">
                <div class="inline-block min-w-full align-middle">
                    <div class="overflow-hidden">
                        <table class="min-w-full divide-y divide-slate-100 table-fixed dark:divide-slate-700" id="data-table">
                            <thead class="border-t border-slate-100 dark:border-slate-800">
                                <tr>
                                    <th scope="col" class="table-th">Nombre</th>
                                    <th scope="col" class="table-th">Apellidos</th>
                                    <th scope="col" class="table-th">Teléfono</th>
                                    <th scope="col" class="table-th">Email</th>
                                    <th scope="col" class="table-th">Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="bg-white divide-y divide-slate-100 dark:bg-slate-800 dark:divide-slate-700">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal de edición -->
<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog relative w-auto pointer-events-none top-1/4">
        <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white dark:bg-slate-900 bg-clip-padding rounded-md outline-none text-current mx-4 sm:mx-auto">
            <div class="modal-header px-4 py-3 border-b border-slate-200 dark:border-slate-700">
                <h5 class="modal-title" id="editModalLabel">Editar Hogar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <form id="editHogarForm" method="post">
                    <div class="mb-3">
                        <label for="editDireccion" class="form-label">Dirección</label>
                        <input type="text" class="form-control" id="editDireccion" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="editPaquete" class="form-label">Paquete</label>
                        <input type="text" class="form-control" id="editPaquete" name="paquete">
                    </div>
                    <div class="mb-3">
                        <label for="editEstatus" class="form-label">Estatus</label>
                        <input type="text" class="form-control" id="editEstatus" name="estatus" required>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary text-right">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Fin modal de edición -->

<!-- Modal eliminar -->
<div class="modal fade fixed top-0 left-0 hidden w-full h-full outline-none overflow-x-hidden overflow-y-auto" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog relative w-auto pointer-events-none top-1/4 mx-4 sm:mx-auto">
        <div class="modal-content border-none shadow-lg relative flex flex-col w-full pointer-events-auto bg-white dark:bg-slate-900 bg-clip-padding rounded-md outline-none text-current">
            <div class="modal-header px-4 py-3 border-b border-slate-200 dark:border-slate-700">
                <h5 class="modal-title" id="deleteModalLabel">Eliminar Hogar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-4">
                <div class="text-center">
                    <p class="text-lg font-semibold mb-3">¿Estás seguro de eliminar el hogar?</p>
                    <p class="text-sm text-gray-600 dark:text-gray-400">Esta acción es irreversible.</p>
                </div>
                <div class="text-right">
                    <form id="deleteHogarForm" method="post">
                        <button type="submit" class="btn btn-danger" id="delete-btn">Eliminar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fin modal eliminar -->


<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('.edit-btn').forEach(button => {
            button.addEventListener('click', function() {
                let hogarId = this.getAttribute('data-id');
                let direccion = this.getAttribute('data-direccion');
                let paquete = this.getAttribute('data-paquete');
                let estatus = this.getAttribute('data-estatus');

                document.getElementById('editDireccion').value = direccion;
                document.getElementById('editPaquete').value = paquete;
                document.getElementById('editEstatus').value = estatus;

                document.getElementById('editHogarForm').action = '/hogar/' + hogarId + '/edit';

            });
        });
    });

    document.querySelectorAll('.delete-btn').forEach(button => {
        button.addEventListener('click', function() {
            let hogarId = this.getAttribute('data-id');
            document.getElementById('deleteHogarForm').action = '/hogar/' + hogarId + '/delete';
        });
    });

</script>
{% endblock %}
