{% extends 'layouts/layout-dashboard-user.html' %}

{% block header %}
    {% block title %}Protege tu hogar {% endblock %}
{% endblock %}

{% block content %}
    
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h4 class="card-title">Protege tu hogar</h4>
        </div>
    </div>
    <div class="grid grid-cols-12 gap-4 mt-3">
        <!-- <div class="lg:col-span-9 col-span-12 card p-6 order-1 lg:order-2">
            <video id="camera" class="w-full" style="max-height: 500px;" autoplay playsinline></video>
        </div> -->
        <div class="lg:col-span-9 col-span-12 card p-6 order-1 lg:order-2 iframe-container">
            <iframe src="{{ stream_url }}" allowfullscreen></iframe>
        </div>
        <!-- <div class="lg:col-span-9 col-span-12 card p-6 order-1 lg:order-2 iframe-container">
            <iframe src="http://192.168.100.28:81/stream" allowfullscreen></iframe>
        </div> -->
        <div class="lg:col-span-3 col-span-12 card p-6 order-2 lg:order-1">
            <a href="{{ url_for('user.encender_luces_domesticas') }}" class="btn flex items-center justify-center btn-outline-dark rounded-[25px] w-full mb-2">
                <iconify-icon icon="mdi:lights" width="1.5em" height="1.5em" class="mr-2 flex-shrink-0"></iconify-icon>
                <span class="flex-grow text-left">Encender luces</span>
            </a>
            <a href="{{ url_for('user.apagar_luces_domesticas') }}" class="btn flex items-center justify-center btn-outline-dark rounded-[25px] w-full mb-2">
                <iconify-icon icon="mdi:lights-outline" width="1.5em" height="1.5em" class="mr-2 flex-shrink-0"></iconify-icon>
                <span class="flex-grow text-left">Apagar luces</span>
            </a>
            <div class="mb-2">
                <button onclick="toggleDropdown('blockDropdown')" class="btn flex items-center justify-between btn-outline-dark rounded-[25px] w-full">
                    <div class="flex items-center">
                        <iconify-icon icon="material-symbols:lock" width="1.5em" height="1.5em" class="mr-2 flex-shrink-0"></iconify-icon>
                        <span class="flex-grow text-left">Bloquear accesos</span>
                    </div>
                    <iconify-icon icon="mdi:chevron-down" width="1em" height="1em"></iconify-icon>
                </button>
                <div id="blockDropdown" class="hidden z-10 bg-white rounded-lg shadow w-full mt-2">
                    <a href="{{ url_for('user.bloquear_puerta_uno') }}" class="block px-4 py-2 text-sm text-gray-700 dropdown-option">Puerta 1</a>
                    <a href="{{ url_for('user.bloquear_puerta_dos') }}" class="block px-4 py-2 text-sm text-gray-700 dropdown-option">Puerta 2</a>
                    <a href="{{ url_for('user.bloquear_puerta_tres') }}" class="block px-4 py-2 text-sm text-gray-700 dropdown-option">Puerta 3</a>
                    <a href="{{ url_for('user.bloquear_puerta_cuatro') }}" class="block px-4 py-2 text-sm text-gray-700 dropdown-option">Puerta 4</a>
                    <a href="{{ url_for('user.bloquear_puertas') }}" class="block px-4 py-2 text-sm text-gray-700 dropdown-option">Bloquear todos los accesos</a>
                </div>
            </div>
            <div class="mb-2">
                <button onclick="toggleDropdown('unlockDropdown')" class="btn flex items-center justify-between btn-outline-dark rounded-[25px] w-full">
                    <div class="flex items-center">
                        <iconify-icon icon="mdi:unlocked-outline" width="1.5em" height="1.5em" class="mr-2 flex-shrink-0"></iconify-icon>
                        <span class="flex-grow text-left">Desbloquear accesos</span>
                    </div>
                    <iconify-icon icon="mdi:chevron-down" width="1em" height="1em"></iconify-icon>
                </button>
                <div id="unlockDropdown" class="hidden z-10 bg-white rounded-lg shadow w-full mt-2">
                    <a href="{{ url_for('user.desbloquear_puerta_uno') }}" class="block px-4 py-2 text-sm text-gray-700 dropdown-option">Puerta 1</a>
                    <a href="{{ url_for('user.desbloquear_puerta_dos') }}" class="block px-4 py-2 text-sm text-gray-700 dropdown-option">Puerta 2</a>
                    <a href="{{ url_for('user.desbloquear_puerta_tres') }}" class="block px-4 py-2 text-sm text-gray-700 dropdown-option">Puerta 3</a>
                    <a href="{{ url_for('user.desbloquear_puerta_cuatro') }}" class="block px-4 py-2 text-sm text-gray-700 dropdown-option">Puerta 4</a>
                    <a href="{{ url_for('user.desbloquear_puertas') }}" class="block px-4 py-2 text-sm text-gray-700 dropdown-option">Desbloquear todos los accesos</a>
                </div>
            </div>
            <a href="{{ url_for('user.activar_alarma') }}" class="btn flex items-center justify-center btn-outline-dark rounded-[25px] w-full mb-2">
                <iconify-icon icon="icon-park-solid:alarm" width="1.5em" height="1.5em" class="mr-2 flex-shrink-0"></iconify-icon>
                <span class="flex-grow text-left">Activar alarma</span>
            </a>
            <a href="{{ url_for('user.desactivar_alarma') }}" class="btn flex items-center justify-center btn-outline-dark rounded-[25px] w-full mb-2">
                <iconify-icon icon="icon-park-outline:alarm" width="1.5em" height="1.5em" class="mr-2 flex-shrink-0"></iconify-icon>
                <span class="flex-grow text-left">Desactivar alarma</span>
            </a>
            <a href="{{ url_for('user.capture_photo_endpoint') }}" class="btn flex items-center justify-center btn-outline-dark rounded-[25px] w-full mb-2">
                <iconify-icon icon="solar:videocamera-record-outline" width="1.5em" height="1.5em" class="mr-2 flex-shrink-0"></iconify-icon>
                <span class="flex-grow text-left">Tomar fotografía</span>
            </a>
            <a href="#" class="btn flex items-center justify-center btn-outline-dark rounded-[25px] w-full mb-2">
                <iconify-icon icon="mdi:shield-lock" width="1.5em" height="1.5em" class="mr-2 flex-shrink-0"></iconify-icon>
                <span class="flex-grow text-left">Modo seguro</span>
            </a>      
        </div>
    </div>
    <style>
        .iframe-container {
            display: flex;
            justify-content: center; 
            align-items: center;
            width: 100%;
            height: 400px;
            position: relative;
            overflow: hidden;
        }

        .iframe-container iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        @media(min-width: 1024px) {
            .iframe-container {
                height: 800px;
            }
        }
    </style>
{% endblock %}

{% block scripts %}
    <script>
        // Acceder a la cámara del dispositivo
        const videoElement = document.getElementById('camera');

        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true })
            .then(function(stream) {
                videoElement.srcObject = stream;
                videoElement.play();
            })
            .catch(function(error) {
                console.log("Error al acceder a la cámara: ", error);
            });
        } else {
            console.log("La API de getUserMedia no es soportada por este navegador.");
        }

        // Función para mostrar/ocultar los dropdowns
        function toggleDropdown(dropdownId) {
            var dropdown = document.getElementById(dropdownId);
            dropdown.classList.toggle('hidden');
        }

        // Cerrar el dropdown si se hace clic fuera de él
        window.onclick = function(event) {
            if (!event.target.matches('.btn') && !event.target.matches('.iconify-icon')) {
                var dropdowns = document.querySelectorAll('.relative .absolute');
                dropdowns.forEach(function(dropdown) {
                    if (!dropdown.classList.contains('hidden')) {
                        dropdown.classList.add('hidden');
                    }
                });
            }
        }

    </script>
{% endblock %}
