{% extends 'layouts/layout-dashboard-user.html' %}

{% block header %}
    {% block title %}Protege tu hogar {% endblock %}
{% endblock %}

{% block content %}
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 class="card-title">Protege tu hogar</h4>
            </div>
        </div>
        <div class="card mt-3">
            <div class="card-body flex flex-col p-6">
                <header class="flex mb-5 items-center border-b border-slate-100 dark:border-slate-700 pb-5 -mx-6 px-6">
                    <div class="flex-1">
                    <div class="card-title text-slate-900 dark:text-white">Cámara principal de la casa</div>
                    </div>
                </header>
                <div class="card-text h-full space-y-10">
                    <video class="w-full" id="player" playsinline="playsinline" controls="controls" data-poster="https://vjs.zencdn.net/v/oceans.png">
                    <source src="https://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>

        <div class="card mt-5">
            <div class="card-body flex flex-col p-6">
                <header class="flex mb-5 items-center border-b border-slate-100 dark:border-slate-700 pb-5 -mx-6 px-6">
                    <div class="flex-1">
                        <div class="card-title text-slate-900 dark:text-white">Acciones del hogar</div>
                    </div>
                </header>
                <div class="card-text h-full ">
                    <div class="btn-group-safezone btn-group">
                        <!-- First Row -->
                        <button class="btn inline-flex justify-center btn-dark" onclick="location.href='/user-dashboard/encender-luces-domesticas'">
                            Encender luces
                        </button>
                        <button class="btn inline-flex justify-center btn-dark" onclick="location.href='/user-dashboard/activar-alarma'">
                            Activar alarma
                        </button>
                        <button class="btn inline-flex justify-center btn-dark" onclick="location.href='/user-dashboard/bloquear-puertas'">
                            Bloquear accesos
                        </button>
                        <button class="btn inline-flex justify-center btn-dark" onclick="location.href='/user-dashboard/llamar-policia'">
                            Llamar a la policía
                        </button>
                        <!-- Second Row -->
                        <button class="btn inline-flex justify-center btn-dark" onclick="location.href='/user-dashboard/apagar-luces-domesticas'">
                            Apagar luces
                        </button>
                        <button class="btn inline-flex justify-center btn-dark" onclick="location.href='/user-dashboard/desactivar-alarma'">
                            Desactivar alarma
                        </button>
                        <button class="btn inline-flex justify-center btn-dark" onclick="location.href='/user-dashboard/desbloquear-puertas'">
                            Desbloquear accesos
                        </button>
                        <button class="btn inline-flex justify-center btn-dark" onclick="location.href='/user-dashboard/grabar-contenido'">
                            Grabar contenido
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}